{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/homepage.css' %}">
<link rel="stylesheet" href="{% static 'portfolio/css/bootstrap.min.css' %}">

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar" style="background-color: #e3f2fd;">
        <div id="logo">
           <a href=""> <img  width="50%"  src="{% static 'portfolio/images/logo.png' %}" alt=""></a>
        </div>
        <div class="navbar">
            <a class="navbar-brand" href="#">HOME</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav  clearfix">
                <a class="nav-item nav-link" href="#portfolio">Portfolio <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="https://gitlab.com/s_uktamov/">Gitlab</a>
                <a class="nav-item nav-link" href="https://s3-us-west-2.amazonaws.com/udacity-printer/production/certificates/6d44ade2-05bc-4616-b592-afe3bff09ac7.pdf">Certificate</a>
                <a  href="{% url 'blog:all_blogs' %}" class="btn btn-success float-right">BLOG</a>
                </div>
            </div>
        </div>
    </nav>
    
    
    <div class="rasm">
        <h1 class="display-4" style="margin: 15px;">Bu mening qilgan ishlarim</h1>
        <img width="60%" src="{% static 'portfolio/images/Brain.png' %}" alt="bu rasm">
    
    </div>
    
    <div class="section_01" id="portfolio" >
        {% for project in projects %}
            <div class="section_02">
                <h1 class="display-4">{{project.title}}</h1>
                <p >{{project.discription}}</p>
                <img style="width: 200px;" src="{{project.image.url}}" alt=""><br>
    
                {% if project.url %}
                <a href="{{project.url}}">link</a>
                {% endif %}
            </div>   
        {% endfor %}
    </div>
    
</body>
