body{
    background-image: url(../image/brown.jpg);
}

.rasm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 700px) { 
    #logo{
        display: none;
        opacity: 0;
    }
 }
 #navbar{
     display: flex;
     justify-content: space-between;
 }
.blog-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.col-3{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    max-width: 500px;
    height: 300px;
}
.display-4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.col-3:hover{
    border: 1px solid rgb(122, 211, 177);
    border-radius: 5px;
}
#title:hover {
    border: 1px solid rgb(122, 211, 177);
    border-radius: 5px;
    padding: 3px;
    text-decoration: none;
}