{% load static %}
<link rel="stylesheet" href="{% static 'blog/css/blogpage.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
<body>
    
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar" style="background-color: #e3f2fd;">
    <div id="logo">
       <a href="{% url 'portfolio' %}"> <img  width="50%"  src="{% static 'portfolio/images/logo.png' %}" alt=""></a>
    </div>
    <div class="navbar">
        <a class="navbar-brand" href="{% url 'portfolio' %}">HOME</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav  clearfix">
            <a class="nav-item nav-link" href="{% url 'portfolio' %}">Portfolio <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="https://gitlab.com/s_uktamov/">Gitlab</a>
            <a class="nav-item nav-link" href="https://s3-us-west-2.amazonaws.com/udacity-printer/production/certificates/6d44ade2-05bc-4616-b592-afe3bff09ac7.pdf">Certificate</a>
            
            <a  href="{% url 'blog:all_blogs' %}" class="btn btn-success float-right">BLOG</a>
            </div>
        </div>
    </div>
</nav>
<h2 class="display-4">Bu mening Bloglarim {{blogs.count}} ta</h2>
<div class="container-fluid">
    <div class="blog-wrap">
        {% for blog in blogs %}
        <div class='col-3'>
            <a href="{% url 'blog:detail' blog.id %}"> <h2 id="title" style="padding: 5px; color: darkgreen;">{{blog.title}}</h2>   </a>
             <h5 class="lead">     {{blog.date |date:'d  b Y'}} </h5>
             <p class="lorem">{{blog.discription|safe | truncatechars:100}}</p>
        </div>
        {% endfor %}
    </div>

</div>
</body>
