body{
    background-image: url(../images/brown.jpg);
}

.section_02{
    border: 1px solid rgb(122, 211, 177);
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section_02:hover{
    background: rgb(28, 29, 80);
    color: white;
    cursor: pointer;
    transition: 0.5s ease;
    box-shadow: 0px 0px 20px rgb(53, 49, 49);
}
.section_01{
    margin-top: 10px;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around;
}
.rasm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 700px) { 
    #logo{
        display: none;
        opacity: 0;
    }
 }
 #navbar{
     display: flex;
     justify-content: space-between;
 }